.userFile {
    width: 400px;
    border: 2px dotted silver;
    background-color: #08ACA1;

    padding: 10px;
    margin: 10px 30px;

}
.btnUser {
    width: 100px;
    height: 30px;
    background-color: aliceblue;
    border-color: #859759;
    font-size: 15px;
    color: #4E3E0A;
    font-weight: inherit;

    margin-top: 15px;
    margin-bottom: 10px;
}

.nameUser {
    font-size: 20px;
    color: #fff;

}

.addressUser {
    font-weight: lighter;
    color: azure;
}


/*users:*/
.usersStyle {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-top: 20px;
}

/*userPosts:*/
.userPostsStyle {
    color: #4E3E0A;
    font-weight: initial;
    font-style: italic;
    font-size: 15px;
}

