.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linksStyle {
  width: 100%;
  height: 50px;
  background-color: #FFE02F;
  display: flex;
  justify-content: space-around;
  list-style-type: none;

  padding-top: 10px;
}

.linksStyle a {
  text-decoration: none;
  color:#25883E;
  font-size: 20px;
  font-style: initial;
}

.homeStyle {
  width: 100%;
  height: 70px;
  background-color: #FEFEFE;
  color: #3D5C00;
  text-align: center;
  font-size: 50px;
  font-style: italic;

  padding-top: 100px;
}

.photo  img{
  width: 100%;
}
